.cab{
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    max-width: 1000px;
    margin: 2em auto;
    opacity: 0.9;
}

h1{
    text-align: center; 

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(taller4img.jpg) ;
    background-size: cover;
      
}
.contenedor {

    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto; 
    display: grid;
    
    grid-template-rows: [y0] auto [y1];
    padding: 10px;  
    opacity: 0.9;
    grid-gap: 20px;
}
.boton {
    background: #4c4eaf98;
  
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
    padding: 10px;

}
.boton:hover{
    background-color: #6c9ece; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.contenedor div{
    text-align: center; 
}

.sub_contenedor{
    background: rgb(35, 134, 228);
    border-radius: 20px;
}